.wrapper {
  display: inline-grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "mat-card section";
  grid-gap: 8px;
  margin: 16px 32px;
  mat-card {
    grid-area: mat-card;
    .mat-card-image {
      width: calc(100% - 8px) !important;
      margin: 8px 8px;
    }
    & .favorite{
      display: inline-flex;
    }
    form {
      margin: 8px;
      display: grid;
    }
    & p {
      font-size: large;
    }
  }
  section {
    grid-area: section;
    cursor: pointer;
    h1 {
      margin: 2px;
      position: absolute;
      margin-left: 85px;
      padding: 0px 16px;
      background-color: #fafafa;
      text-transform: uppercase;
      font-size: medium;
    }
    mat-divider {
      margin-top: 16px;
    }
    .mostPopular {
      margin-top: 25px;
      display: grid;
      display: inline-flex;
      width: 300px;
      mat-card-title {
        font-size: medium !important;
        padding: 8px;
      }
      img {
        margin: 0px;
        padding: 0;
      }
    }
  }
}
