<router-outlet></router-outlet>
<div class="wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{postData?.title}}</mat-card-title>
            <mat-card-subtitle>Fruit Smoothie</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="postData?.imgSrc">
        <p>{{postData?.body}}</p>
        <mat-divider></mat-divider>
        <p class="favorite">Add to your favorite?</p>
        <button mat-icon-button matTooltip="Add to favorite?" (click)="favourites()">
            <mat-icon [ngClass]="{'favorite-icon': currentFavIndex != -1}">favorite</mat-icon>
        </button>
        <mat-divider></mat-divider>
        <form [formGroup]="form">
            <h3>Leave a Comment</h3>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="name" formControlName="name" id="">
                <mat-error *ngIf="form.get('name')?.getError('required')" align="end">Name is required</mat-error>
                <mat-error *ngIf="form.get('name')?.getError('minlength')" align="end">Enter at least 2 characters
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" id="">
                <mat-error *ngIf="form.get('email')?.getError('required')" align="end">Email is required</mat-error>
                <mat-error *ngIf="form.get('email')?.getError('email')" align="end">Invalid email
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <textarea matInput #request type="text" formControlName="comment" id=""
                    placeholder="Leave a comment.."></textarea>
                <mat-error *ngIf="form.get('comment')?.getError('required')" align="end">Comment is required</mat-error>
                <mat-error *ngIf="form.get('comment')?.getError('minlength')" align="end">Enter at least 10 characters
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid" (click)="createCom()">Post
                Comment</button>
        </form>

        <app-comments [comments]="comments" [refreshComments]="getComments"></app-comments>
    </mat-card>
    <section>
        <h1>More Recipes</h1>
        <mat-divider></mat-divider>
        <mat-card class="mostPopular" appBorderRadius color="pink" borderStyle="solid" *ngFor="let post of posts"
            [routerLink]="'/recipe/' + post.id">
            <mat-card-title>{{post.title}}</mat-card-title>
            <img mat-card-image [src]="post.imgSrc">
        </mat-card>
    </section>

</div>