<mat-card-content>
    <form [formGroup]="form">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Max Price</mat-label>
                <input matInput formControlName="minPrice" (keyup)="onMinPriceChange()" type="number">
            </mat-form-field>
        </div>
        <div>
        <mat-form-field appearance="outline">
            <mat-label>Percentage</mat-label>
            <input matInput formControlName="procent"[min]="0" [max]="1000" type="number">
        </mat-form-field>
        </div>

    </form>
    <mat-tab-nav-panel>
        <p>Menu</p>
        <ul>
            <li><a [routerLink]="['/posts']" routerLinkActive="router-link-active">Posts</a></li>
        </ul>
    </mat-tab-nav-panel>
</mat-card-content>